
<div class="search-section">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
    <br>
    <input class="btn btn-primary" type="button" value="Search" (click)="getSearchedResult()">
    </div>
<table class="search-result" *ngIf="searchedPeople">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Follow Option</th>
  </tr>
  <tr *ngFor="let people of searchedPeople" class="search-details">
    <td class="name">{{people.Name}}</td>
    <td class="email">{{people.Email}}</td>
    <td class="follow-option">
      <span (click)="addFollowing(people.UserId)">Follow</span>
    </td>
  </tr>
</table>
